body {
    background:  #0d1117;
    color: #b2becd;
    margin: 0;
    font-family: "sofia-pro",sans-serif;
    font-size: 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;   
}

.header-card {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background: #161b22;
    font-size: 3rem;
    height: 4.5rem;
    width: 100%;
    text-align: center;
    color:  #f0f6fc;

}

.header-card a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-bottom: 1.0em;
}

#icon-format {
    padding-top: 1.0em; 
}

.main-body-content {
    padding: 0.5rem;
    display: inline-grid;

}

.header-icon {
    margin-top: 5px;
}