<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core_styling.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% block css %}{% endblock %}
  </head>

  <body>
    {% block navbar %}
    <div class="header-card">
            <div><a href="{{ url_for('core_bp.portfolio_home') }}">Portfolio</a></div>
            <div><a href="/">Software Projects</a></div>
            <div><a href="/">Written Reviews</a></div>
            <div><a href="/">Site Documentation</a></div>
            <div style="padding-top:10px;"><a class="right-icons" href="https://github.com/MatthewTe"><img src="{{ url_for('static', filename='img/favicon-dark-github.svg') }}" alt=""></a></div>
    </div> 
    {% endblock navbar %}

    <div class="main-body-content">
      {% block body %}
      {% endblock body %}
    </div>

    {% block javascript %}
    {% endblock javascript %}
  </body>

</html>