{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('core_bp.static', filename='css/book_reviews.css') }}">
{% endblock css %}

{% block body %}
<div class="portfolio_section">
    <div class="page_label">
        <h2>Book Reviews</h2>
        <p>This is a blurb about the books that I have read and reviewed.</p>    
    </div>
</div>

<div class="portfolio_section">
    <div class="paper_grid">
        {% for book in book_reviews %}
            <div class="paper">
                <div class="date_published"><b>Published:</b> {{book.Published}}</div>
                <div class="authors"><b>Authors:</b> {{book.Author}}</div>
                <div class="paper_category"><b>Category:</b> {{book.Category}}</div>
                <div class="paper_category"><b>Journal:</b> {{book.Publisher}}</div>
                <h5><a href="{{esg_paper.link}}">{{book.Name}}</a></h5>
                <div class="button_div"><a class="button_link" href="{{book.Full_Page}}">Paper Review</a></div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock body %}