{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('core_bp.static', filename='css/esg_papers.css') }}">
{% endblock css %}

{% block body %}
<div class="portfolio_section">
    <div class="page_label">
        <h2>ESG Research Papers</h2>
        <p>This is a blurb about the papers that I have read and implemented. This would contain a description of papers that I like and that I like to implement.</p>    
    </div>
</div>

<div class="portfolio_section">
    <div class="paper_grid">
        {% for esg_paper in esg_papers %}
            <div class="paper">
                <div class="date_published"><b>Published:</b> {{esg_paper.Published}}</div>
                <div class="authors"><b>Authors:</b> {{esg_paper.Author}}</div>
                <div class="paper_category"><b>Category:</b> {{esg_paper.Category}}</div>
                <div class="paper_category"><b>Journal:</b> {{esg_paper.Publisher}}</div>
                <h5><a href="{{esg_paper.link}}">{{esg_paper.Name}}</a></h5>
                <div class="button_div"><a class="button_link" href="{{esg_paper.Full_Page}}">Paper Review</a></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
