{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('core_bp.static', filename='css/portfolio_home.css') }}">
{% endblock css %}

{% block body %}

<div class="portfolio_section">

    <div id="profile_label">

        <div class=gird_image>
            <img id="profile_img" src="{{ url_for('core_bp.static', filename='img/profile_pic.jpg') }}">
        </div>

        <div class="image_label">
            <h1>Matthew Teelucksingh</h1>
            <h3>ESG Economics & Software Development</h3>    
        </div>
    </div>

    <div class="intro_icons">
        <div>
            <img src="{{ url_for('core_bp.static', filename='img/University_of_Waterloo_Crest.png') }}" alt="">
            <h4>University of Waterloo</h4>
        </div>
        <div>
            <img src="{{ url_for('core_bp.static', filename='img/ESG_Icons.png') }}" alt=""> 
            <h4>ESG & Economics</h4>
        </div>
        <div>
            <img class="cs_resize" src="{{ url_for('core_bp.static', filename='img/coding_placeholder.png') }}" alt="">
            <h4>Software Development</h4>
        </div>
    </div>
</div>


<div class="portfolio_section">
    <h2>Software Development</h2>
    <p>A long blurb about what I do with software engineering. What languages that I enjoy and I what type of projects that I like to work on.</p>
    <u><h3>Projects</h3></u>

    <div class="software_project_grid">
        <div class="software_project">
            <a class="project_link" href="{{ url_for('core_bp.velkozz_project') }}"><h4 class="project_title">Django REST API Data Lake Project</h4></a>
            <p class="project_desc">A description of the REST API Datalake built using the django rest framework. Describe the technologies used: Django, Flask and other Microservices.</p>

        </div>
        
        <div class="software_project">
            <a class="project_link" href="{{ url_for('core_bp.ml_implementations') }}"><h4 class="project_title">Machine Learning Paper Implementations</h4></a>
            <p class="project_desc">A description of the Machine Learning Repo that contains all of the notebooks that I use to implement machine learning models. This links to the repo.</p>
            
        </div>

        <div class="software_project">
            <a class="project_link" href=""><h4 class="project_title">Web Development</h4></a>
            <p class="project_desc">Describe stuff done with CDL and how I processed DHI data and created dashboards in Django.</p>
            
        </div>
    </div>

</div>

<div class="portfolio_section">
    <h2>Research Paper Reviews</h2>
    <p>A long blurb about paper topics that I am interested in and how I review.</p>

    <div class="software_project_grid">
        <div class="software_project">
            <a class="project_link" href="{{ url_for('core_bp.esg_papers') }}"><h4 class="project_title">ESG Investing/CFP Papers</h4></a>
            <p class="project_desc">TODO: A description of the ESG CFP papers and how/why I review them.</p>

        </div>
        
        <div class="software_project">
            <a class="project_link" href="{{ url_for('core_bp.ml_implementations') }}"><h4 class="project_title">Machine Learning Paper Implementations</h4></a>
            <p class="project_desc">A description of the Machine Learning Repo that contains all of the notebooks that I use to implement machine learning models. This links to the repo.</p>
            
        </div>

        <div class="software_project">
            <a class="project_link" href="{{ url_for('core_bp.policy_papers') }}"><h4 class="project_title">Policy Research Papers</h4></a>
            <p class="project_desc">TODO: A description of the Policy Research Papers and how I review them.</p>
            
        </div>
    </div>

</div>
{% endblock body %}

