{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('core_bp.static', filename='css/policy_papers.css') }}">
{% endblock css %}

{% block body %}
<div class="portfolio_section">
    <div class="page_label">
        <h2>Policy Research Papers</h2>
        <p>This is a blurb about the papers that I have read and implemented. This would contain a description of papers that I like and that I like to implement.</p>    
    </div>
</div>

<div class="portfolio_section">
    <div class="paper_grid">
        <div class="paper">
            <div class="date_published"><b>Published:</b> 15/12/2015</div>
            <div class="authors"><b>Authors:</b> Gunnar Friede, Timo Busch, Alexander Bassen</div>
            <div class="paper_category"><b>Category:</b> ESG Investment Performance</div>
            <div class="paper_category"><b>Journal:</b> Journal of Sustainable Finance & Investment</div>
            <h5>ESG and financial performance: aggregated evidence from more than 2000 empirical studies</h5>
            <div class="button_div"><a class="button_link" href="https://drive.google.com/file/d/1Rhhs0y4AsEDF82dZrPmM6-iedAfd7K--/view?usp=sharing">Paper Review</a></div>
        </div>

        <div class="paper">
            <div class="date_published"><b>Published:</b> 02/05/2021</div>
            <div class="authors"><b>Authors:</b> Chen et al</div>
            <div class="paper_category"><b>Category:</b> ESG Portfolio Optimization</div>
            <div class="paper_category"><b>Journal:</b> Journal of Management Science and Engineering</div>
            <h5>Social responsibility portfolio optimization incorporating ESG criteria</h5>
            <div class="button_div"><a class="button_link" href="https://drive.google.com/file/d/1Rhhs0y4AsEDF82dZrPmM6-iedAfd7K--/view?usp=sharing">Paper Review</a></div>
        </div>

        <div class="paper">
            <div class="date_published"><b>Published:</b> 26/02/2020</div>
            <div class="authors"><b>Authors:</b> Lasse HejePedersen, Shaun Fitzgibbons, LukaszPomorski</div>
            <div class="paper_category"><b>Category:</b> Modern Portfolio Theory ESG Integration</div>
            <div class="paper_category"><b>Journal:</b> Journal of Financial Economics</div>
            <h5>Responsible investing: The ESG-efficient frontier</h5>
            <div class="button_div"><a class="button_link" href="https://drive.google.com/file/d/1Rhhs0y4AsEDF82dZrPmM6-iedAfd7K--/view?usp=sharing">Paper Review</a></div>
        </div>

    </div>
</div>
{% endblock body %}
