{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('core_bp.static', filename='css/velkozz_project.css' ) }}">
{% endblock css %}

{% block body %}
<div class="velkozz_project_body">
    <div class="http_styling_body">
        <code class="prettyprint">
            <pre>
GET / HTTP/1.1
Accept: application/json
Host: INSERT HOST!
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) 
Gecko/20100101 Firefox/89.0
    
HTTP/1.1 200 OK
Last-Modified: PUT FULL TIMESTAMP!
Content-Length: 5254
Content-Type: application/json; charset=utf-8
Date: 2021-08-08T20:09:05+00:00

{
    <code class="json_key_style">"title"</code>: <code class="json_value_style">"The Velkozz REST API Data Lake Project"</code>,
    <code class="json_key_style">"description"</code>:<code class="json_value_style">"This is a placeholder for the description of the Project."</code>
    <code class="json_key_style">"project repository"</code>: [
      {
        <code class="json_key_style">"project component"</code>: <code class="json_value_style">"Django Rest Framework Web Project"</code>,
        <code class="json_key_style">"repository link"</code>: <a href="https://github.com/velkoz-data-ingestion/velkozz_web_api"><code class="json_link_style">"https://github.com/velkoz-data-ingestion/velkozz_web_api"</code></a>
      },
      {
        <code class="json_key_style">"project component"</code>: <code class="json_value_style">"Developer API"</code>,
        <code class="json_key_style">"repository link"</code>:<a href="https://github.com/velkoz-data-ingestion/velkozz_dev_api"><code class="json_link_style">"https://github.com/velkoz-data-ingestion/velkozz_dev_api"</code></a>
      },
      {
        <code class="json_key_style">"project component"</code>:<code class="json_value_style">"ETL Microservices"</code>,
        <code class="json_key_style">"repository link"</code>: <a href="https://github.com/velkoz-data-ingestion/velkozz_microservices"><code class="json_link_style">"https://github.com/velkoz-data-ingestion/velkozz_microservices"</code></a>
      },
      {
        <code class="json_key_style">"project component"</code>: <code class="json_value_style">"Flask Dashboards"</code>,
        <code class="json_key_style">"repository link"</code>:<a href="https://github.com/velkoz-data-ingestion/velkozz_dashboards"><code class="json_link_style">"https://github.com/velkoz-data-ingestion/velkozz_dashboards"</code></a>
      },
      {
        <code class="json_key_style">"project component"</code>: <code class="json_value_style">"Flask Logging Application"</code>,
        <code class="json_key_style">"repository link"</code>: <a href="https://github.com/velkoz-data-ingestion/velkozz_logging_application"><code class="json_link_style">"https://github.com/velkoz-data-ingestion/velkozz_logging_application"</code></a>
      }
    ]
}
            </pre>
        </code>    
    </div>
</div>
{% endblock body %}