extends layout

block css
    link(rel="stylesheet", href="/stylesheets/articles_style.css")

block content
    div.articles_body
        div.article_content
            h1.article_page_title Articles

            a.article_element(href="/")
                div.article
                    div.article_thumbnail
                        div(style="position:relative") 
                            div.image_layer1
                                div.image_layer2
                                    div.image_layer3
                                        div.image_layer4
                                        picture.thumbnail_frame
                                            source(media="(min-width: 800px)", srcset="https://theintercept-static.imgix.net/usq/b4574b08-52e4-405f-922f-26c2d57cd9de/b4574b08-52e4-405f-922f-26c2d57cd9de.jpeg?auto=compress,format&cs=srgb&dpr=2&h=440&w=880&fit=crop&crop=faces%2Cedges&_=27346e40f47bf6707676393a447ae831", style="box-sizing: border-box;")
                                            img(src="https://theintercept-static.imgix.net/usq/b4574b08-52e4-405f-922f-26c2d57cd9de/b4574b08-52e4-405f-922f-26c2d57cd9de.jpeg?auto=compress,format&cs=srgb&dpr=2&h=220&w=440&fit=crop&crop=faces%2Cedges&_=27346e40f47bf6707676393a447ae831")   
                    div.article_description
                        div.article_description_title
                            h4 EPA Plans to Clean Up Troubled Chemical and Pesticide Programs 
                            div.byline1
                                span.author
                                    span(style="box-sizing: border-box;") Matthew Teelucksingh - 
                                span(title="October 13 2021", style="box-sizing: border-box;") Oct 13 2021
                            div.byline2
                                span.categories
                                    span(style="box-sizing: border-box;") Cold War History
                                    span(style="box-sizing: border-box;") Strategy  
                                    span(style="box-sizing: border-box;") Political Science
                        div.article_summary
                            p.summary_paragraph Community advocates and environmental groups pointed out that the EPA has promised action on toxic PFAS pollution for many years.
