extends layout

block css
  link(rel="stylesheet", href="/stylesheets/homepage_style.css")

block content
  div.homepage
    div.wrapper
      
      div.header_card
        h1 This is the Test Title for the Main Header Card
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus dolorem animi omnis modi distinctio culpa eius, molestiae consequatur! Assumenda dicta placeat porro corrupti atque accusantium unde ipsam hic numquam cupiditate.
        a.secondary_btn(href="/") Site Button
        a.second(href="/") About 

      div.homepage_body
        h2 Site Content Cards
        p Genertic descripton of the things that will be listed in the cards below. They will be links to each section of the page.

        div.col-left
          ul
            li
              a(href="/") 
                h3 Test Card 1
                p Description of test card
            li
              a(href="/")
                h3 Test Card 2
                p Description of test card
            li
              a(href="/")
                h3 Test Card 3
                p Description of test card

        div.col-mid
          ul
            li
              a 
                h3 Test Card 1
                p Description of test card
            li
              a 
                h3 Test Card 2
                p Description of test card
            li
              a 
                h3 Test Card 3
                p Description of test card

        div.col-right
          ul
            li
              a 
                h3 Test Card 1
                p Description of test card
            li
              a 
                h3 Test Card 2
                p Description of test card
            li
              a 
                h3 Test Card 3
                p Description of test card

