/* Generic Site Section Styling */
div.portfolio_section {
    justify-content: center;
    border-bottom: 2px dashed #2a2e35;
    padding-bottom: 20px;
}

.page_label{
    text-align: center;
}

/* Styling the introductory slide grid element */
#profile_label {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.gird_image{
    text-align: right;
}
.image_label{
    text-align: left;
    padding-top: 45px;
    padding-left: 15px;
}

/* Styling the profile picture: */
#profile_img {
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

.intro_icons {
    margin-top: 100px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.intro_icons img {
    width: 120px;
    height: 120px;
}
.cs_resize{
    width: 150px !important;
    height: 120px !important;
}

/* Styling the Sofware Development Projects Section */
.software_project_grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.software_project{
    border-radius: 3px;
    border: solid;
    border-width: 1px;
}

.project_title{
    text-align: center;
}
.project_desc{
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
.project_link:active{
    color: inherit;
    text-decoration: underline;
}
.project_link:visited{
    color: inherit;
}

/* Styling the Esg Economics Papers Section */
.paper_grid{
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.paper{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: solid;
    border-width: 1px;
    background: #161b22;
}
.button_div{
    padding: 20px;
    margin-top: auto;
}
.button_div a {
    background: #a10742;
    border-radius: 3px;
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    padding: 1.0em 5.5em;
    margin-bottom: 0.25em;
    outline: none;
    border: 0;
    text-decoration: none
}
.button_link:visited{
    color: inherit;
    text-decoration: none;
}
.button_link:active{
    color: inherit;
    text-decoration: none;
}

.date_published{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.paper_category{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
}
.authors{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 14px;
}